<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/habitaciones">Habitaciones</a>
    {% if (session and session.usuario) %}
    <a class="btn btn-dark" href="/habitaciones/nuevo">Nueva Habitación</a>
    <a class="btn btn-dark" href="/auth/logout">Logout</a>
    {% else %}
        <a class="btn btn-dark" href="/auth/login">Login</a>
    {% endif %}
</div>

